@use "bootstrap/scss/bootstrap" with (
  $primary: #dad873,
  $secondary: #8fc278,
  $success: #58a188,
  $danger: #e9b983,
  $warning: #fab005,
  $info: #fdfb86,
  $light: #efeeb4,
  $dark: #454d66
);

html,
body {
  overflow-x: hidden;
  background-color: lighten(bootstrap.$light, 10%);
}

footer {
  background-color: bootstrap.$primary;
  margin-top: 2%;
}

.cart-icon,
.form-label {
  font-weight: bold;
}

.card,
.login-form {
  background-color: lighten(bootstrap.$light, 5%);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products-grid {
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  .product-img {
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .product-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

input,
textarea {
  border-radius: 10px;
  max-width: 90%;
  display: inline-block !important;
  background-color: lighten(bootstrap.$light, 15%);
}

.list-group-item {
  background-color: lighten(bootstrap.$light, 15%);
  border-radius: 10px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: bootstrap.$dark !important;
}

.product-card {
  width: 80%;
  justify-self: center;
}

button:hover,
.active-section {
  font-weight: bold;
}

.link-name {
  cursor: pointer;
  text-decoration: underline;
}

.img-table {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}
.price-input {
  margin-left: 5%;
  width: 70%;
}
.input-group-text{
  background-color: bootstrap.$light;
}
